body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    rgba(162, 247, 241, 0.7),
    rgba(199, 146, 255, 0.7)
  );
}

.App {
  margin-top: 30px;
}

.App .custom-container {
  background: white;
  opacity: 0.9;
  max-width: 900px;
}

.App footer {
  margin-bottom: 20px;
  color: #333;
  font-style: italic;
}

@media (max-width: 1000px) {
  .App .custom-container {
    width: 90%;
  }
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.Dictionary h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.Dictionary form {
  margin-bottom: 20px;
}

.Meaning .indent {
  margin-left: 50px;
  width: fit-content;
}

.Meaning .part-of-speech {
  font-size: 1.2rem;
  font-style: italic;
}

.Meaning .example {
  margin-left: 20px;
  font-style: italic;
  color: cornflowerblue;
}

.Synonyms {
  margin-left: 20px;
}

.Synonyms {
  margin-top: 10px;
  list-style: none;
  color: chocolate;
}

.Synonyms .similar::before {
  content: "Synonyms:";
  color: chocolate;
}

.Synonyms .element {
  padding: 0px 5px 3px 5px;
  border: solid 1px chocolate;
  border-radius: 10px;
  margin-left: 5px;
}

.Phonetic {
  color: chocolate;
  font-size: 1.25rem;
}
